<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBVG7Bmz5ysDB7ILpn90Ult7LjhQ1cHCSg</string>
	<key>GCM_SENDER_ID</key>
	<string>445066027204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anystupididea.quoteme</string>
	<key>PROJECT_ID</key>
	<string>quote-me-oauth</string>
	<key>STORAGE_BUCKET</key>
	<string>quote-me-oauth.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445066027204:ios:85b9e2b5dcdc4b4c042991</string>
</dict>
</plist>